faiss-cpu
fastapi
uvicorn[standard]
httpx
numpy
pypdf
python-multipart
python-docx
rank-bm25
FlagEmbedding
tiktoken
uvicorn
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
